<form action='@Url.Action("GuardarCandidato")' method="post">
<input type="hidden" name="IdPartido" value="@ViewBag.idPartido">
<h2>Ingrese el nombre del candidato</h2>
<input type="text" name="Nombre">
<h2>Ingrese el apellido del candidato</h2>
<input type="text" name="Apellido">
<h2>Ingrese la fecha de nacimiento del canidato</h2>
<input type="text" name="FechaNacimiento">
<h2>ingrese la direccion de la foto del candidato</h2>
<input type="file" name="Foto">
<h2>ingrese para que cargo se postula el candidato</h2>
<input type="text" name="Postulacion">
<input type="submit">
</form>
