@{
    ViewData["Title"] = "Index";
}

<div class="partidos">
@{
    for(int i = 0; i<ViewBag.partidos.Count; i++){
        <div class="card">
            <img src="@ViewBag.partidos[i].Logo">
            <h1>@ViewBag.partidos[i].Nombre</h1>
            <a href='@Url.Action("VerDetallePartido", new{idPartido = ViewBag.partidos[i].IdPartido})'>Link a @ViewBag.partidos[i].Nombre</a>
        </div>
    }
}
</div>