<div class="detallecandidato">
    <h2>Nombre del candidato: @ViewBag.detalleCandidato.Nombre @ViewBag.detalleCandidato.Apellido</h2>
    <img src="/@ViewBag.detalleCandidato.Foto" alt="">
    <h2>Fecha de nacimiento:@ViewBag.detalleCandidato.FechaNacimiento.ToShortDateString()</h2>
    <h2>Se presenta para: @ViewBag.detalleCandidato.Postulacion</h2>
</div>