html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: bisque;
  font-family: 'Times New Roman', Times, serif;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}
.partidocard{
  display: inline-block;
  padding: 1rem;
  border: 1px solid black;
  font-family: 'Times New Roman', Times, serif;
}
.partidocard img{
  width: 300px;
  padding: 5px;
}
.partidocard a{
  color: rgb(50, 173, 173);
  font-size: 1.2rem;
}
.partido{
  font-size: 1.3rem;
  color:rgb(175, 116, 27);
  font-family:'Times New Roman', Times, serif;

}
.partido img{
  width: 300px;
}
.detallepartido{
  display: flex;
  flex-direction: row;
}
.detallecandidato img{
  width: 300px;
}